body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin-top: 30px;
  background-color: antiquewhite;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  box-shadow: 0 0 10px gray;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #0d52e7;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #07da5f;
}

#certificateCanvas {
  margin-top: 20px;
  display: none;
  border: 2px solid #333;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
}
